<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>group-1</title>
  <link rel="stylesheet" href="../stylesheet/style.css">
</head>

<body>
  <h1 class="group-1">hello world!</h1>
  <h2>happy github life!</h2>
  <p>welcome</p>
  <p>to group 1</p>
  <p>Members</p>
  <ol>
    <li>Ada</li>
    <li>Kingsley</li>
    <li>Luca</li>
    <li>Frank</li>
  </ol>
  <p>It's going down</p>
  <h2>Hello Kingsley</h2>
</body>
</htm